<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Contact</h1>

<f:flashMessages />

<table  class="tx_hiveextcontact" >
	<tr>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.gender" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.title" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.firstname" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.middlename" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.lastname" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.image" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.focus_x" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.focus_y" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.birthdate" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.position" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.description" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.phone" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.fax" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.mobile" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.email" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.supporttext" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.supportlink" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.building" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.room" /></th>
		<th><f:translate key="tx_hiveextcontact_domain_model_contact.belongs_to_default_sys_language" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{contacts}" as="contact">
		<tr>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.gender}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.firstname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.middlename}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.lastname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.image.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.focusX}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.focusY}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.birthdate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.position}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.fax}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.mobile}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.supporttext}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.supportlink}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.building}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.room}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contact : contact}"> {contact.belongsToDefaultSysLanguage}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{contact : contact}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{contact : contact}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Contact</f:link.action>
</f:section>
</html>